@model IEnumerable<Contact>

@{
    ViewData["Title"] = "Contact List";
}

<div class="header-container">
    <h1>Contact List</h1>
    <br/>
    <a asp-controller="Contact" asp-action="Create" class="btn btn-primary">
        Create New Contact
    </a>
</div>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Number</th>
            <th>Created Date Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Id</td>
                <td>@contact.Name</td>
                <td>@contact.Number</td>
                <td>@contact.CreatedDateTime</td>
                <td>
                    <a asp-controller="Contact" asp-action="Edit" asp-route-id="@contact.Id" class="btn btn-info">Edit</a>
                    <a asp-controller="Contact" asp-action="Delete" asp-route-id="@contact.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
